<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h2>Play Time Distribution per Player (seconds)</h2>
    <div id="box"></div>

    <h2>Time Played Histogram</h2>
    <div id="time-histogram" class="histogram"></div>

    <h2>Average Time Played Histogram</h2>
    <div id="avg-time-histogram" class="histogram"></div>

    <script src="/js/jquery.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/box.js"></script>
    <script src="/js/histogram.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
