<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/nv.d3.css' />
    <link rel='stylesheet' href='/css/style.css' />

    <script src="/js/jquery.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/d3.v2.js"></script>
    <script src="/js/nv.d3.js"></script>
    <script src="/js/main.js"></script>

    <style>

      #chart svg {
        height: 400px;
      }

    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div id="chart">
      <svg></svg>
    </div>
    <div id="population0">
      <svg></svg>
    </div>
    <div id="population1">
      <svg></svg>
    </div>
    <div id="population2">
      <svg></svg>
    </div>
    <div id="population3">
      <svg></svg>
    </div>
  </body>
</html>
